.ingredient-sidebar {
  height: 100vh;
  width: 100%;
  padding: 16px;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ingredient-sidebar__image {
  height: 45vh;
  width: 100%;
  background-position: center top;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 10px;
  margin-bottom: 20px;
}

.ingredient-sidebar__title {
  color: white;
  font-size: 30px;
  text-align: center;
  margin: 10px 0px;
}

.ingredient-sidebar__subtitle {
  color: white;
  text-align: center;
  font-size: 20px;
  margin: 10px 0px;
}

.ingredient-sidebar__history {
  overflow-y: scroll;
}

.ingredient-sidebar__history__text {
  color: darken($color: white, $amount: 15);
  text-align: center;
}

.ingredient-list {
  padding: 16px;
  height: 100vh;
  overflow-y: scroll;
}