.header {
  width: 100vw;
  height: 40vh;
  background-image: url('../../../assets/images/bg3.jpg');
  background-size: cover;
  background-position: center;
}

.header__box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header__box__search {
  width: 500px;
  background-color: rgba(0, 22, 40, 0.9);
  padding: 20px;
  border-radius: 4px;
}

.header__box__buttons {
  display: flex;
  justify-content: space-evenly;
  padding-top: 10px;
}

.card-list {
  padding: 16px;
}

@media (max-width: 480) {
  .header__box__search {
    width: 300px;
  }
}